* {
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: black;
    text-align: center;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    background-clip: content-box;
    box-shadow: inset 0 0 0 10px black;
    border-radius: 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style-position: inside;
    padding-inline-start: 0px;
}

button {
    width: 150px;
    margin-top: 10px;
    border: 2px solid #46b8da;
    font-weight: bold;
    padding: 5px;
    color: #045;
}

button:hover {
    cursor: pointer;
    background: #09c;
    color: #fff;
}

button:active {
    cursor: pointer;
}
